<tr>
  <th scope="row">
    <%= link_to trainers_course_user_course_path course.id, item.id do%>
      <%= item.name %>
    <% end %>
  </th>
  <% task = item.task_done(course.id).by_subject(subject.id).first %>
  <% if task.present? %>
    <% task_percent = progress_color task.task_done_user, task.subject_id %>
    <td class="text-light text-center border-right <%= task_percent[:color] %>"><%= task_percent[:percent] %>%</td>
  <% else %>
    <td class="text-light text-center border-right bg-dark"><%= Settings.progress.zero %>%</td>
  <% end %>
</tr>
