<div class="container">
  <div class="row" id="login-side">
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="logo">
          <%= link_to root_path, class: "p-0" do %>
            <%= image_tag Settings.app.logo, class: "d-inline-block align-top sun-logo-login" %>
            <span><%= t ".training" %></span>
          <% end %>
        </div>
        <div>
          <h5 class="mt-4 font-weight-bold text-uppercase">
            <%= t ".slogan" %>
          </h5>
          <blockquote class="blockquote mt-4">
            <h4 class="mb-0 text-muted font-italic">
              <%= t ".quote" %>
            </h4>
            <footer class="blockquote-footer mt-3">
              <%= t ".ceo" %>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center">
        <div class="mt-3 col-md-10">
          <div class="card d-flex align-self-center">
            <div class="card-body">
              <%= form_for resource, as: resource_name, url: session_path(resource_name), class: "rounded" do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, class: "form-control", required: true,
                                    placeholder: t("sessions.new.label_email")%>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, class: "form-control", required: true,
                                       autocomplete: "current-password", placeholder: t("sessions.new.label_password") %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-group form-check">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, t("sessions.new.label_remember") %>
                    <% if devise_mapping.recoverable? && [:passwords, :registrations].exclude?(controller_name) %>
                      <%= link_to t(".label_forgot_pwd"), new_password_path(resource_name), class: "float-right" %>
                    <% end %>
                  </div>
                <% end %>
                <%= f.submit t("sessions.new.label_submit"), class: "btn btn-primary btn-sm btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
