<% provide :sub_title, t(".sub_title") %>
<div id="course-info">
  <%= render "course_info", course: @course %>
</div>
<div class="course-detail mt-4">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <%= link_to "#subjects", class: "nav-link active", id: "subjets-tab",
      "data-toggle": "tab", role: "tab", "aria-controls": "subjects", "aria-selected": "true" do %>
        <%= icon "fas", "list-alt" %>
        <%= t ".subject_tab" %>
        <%= "\(#{@subjects.total_count}\)" %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#trainee", class: "nav-link", id: "trainee-tab", "data-toggle": "tab",
      role: "tab", "aria-controls": "trainee", "aria-selected": "false" do %>
        <%= icon "fas", "users" %>
        <%= t ".trainee_tab" %>
        <%= "\(#{@trainees.total_count}\)" %>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="subjects" role="tabpanel" aria-labelledby="subjects-tab">
      <div class="container-fluid pb-2">
        <div class="py-2" id="list-subjects">
          <%= render partial: "subject_item_tab", collection: @subjects, as: :subject, locals: {course: @course} %>
        </div>
        <div id="subject-paginator" class="text-center d-flex justify-content-center">
          <%= paginate @subjects, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm", class: "d-none", remote: true %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="trainee" role="tabpanel" aria-labelledby="trainee-tab">
      <div class="container-fluid">
        <h4 class="py-4">
          <%= icon "fas", "angle-right" %>
          <%= t ".trainee_tab_title" %>
        </h4>
        <div id="list-trainees" class="pb-2">
          <%= render "trainee_tbl", trainees: @trainees %>
        </div>
      </div>
    </div>
  </div>
</div>
