<ul class="nav flex-column" id="side-bar">
  <li class="nav-item">
    <%= link_to root_path, class: "nav-link" do %>
      <%= icon "fas", "home" %>
      <span><%= t "layouts.side_bar.dashboard" %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to trainers_courses_path, class: "nav-link" do %>
      <%= icon "fas", "list-alt" %>
      <span><%= t "layouts.side_bar.my_courses" %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to trainers_subjects_path, class: "nav-link" do %>
      <%= icon "fas", "book" %>
      <span><%= t "layouts.side_bar.subject" %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to trainers_users_path, class: "nav-link" do %>
      <%= icon "fas", "users" %>
      <span><%= t "layouts.side_bar.users" %></span>
    <% end %>
  </li>
</ul>
