<%= form_with model: user, url: url, local: true,
              class: "border rounded p-4", id: "form-course" do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :name, t("trainers.users.edit.label_name"), class: "label-required font-weight-bold" %>
        <%= f.text_field :name, class: "form-control", required: true ,
                         placeholder: t("trainers.users.edit.label_name")%>
        <%= display_error f.object, :name, t("trainers.users.edit.label_name") %>
      </div>
      <div class="form-group">
        <%= f.label :email, t("trainers.users.edit.label_email"), class: "label-required font-weight-bold" %>
        <%= f.email_field :email, class: "form-control", required: true,
                          placeholder: t("trainers.users.edit.label_email")%>
        <%= display_error f.object, :email, t("trainers.users.edit.label_email") %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth, t("trainers.users.edit.label_birthday"), class: "label-required font-weight-bold" %>
        <%= f.date_field :date_of_birth, class: "form-control", required: true,
                         value: Settings.default_user.birthday,
                         max: Time.zone.today.to_s %>
        <%= display_error f.object, :date_of_birth, t("trainers.users.edit.label_birthday") %>
      </div>
      <div class="form-group">
        <%= f.label :address, t("trainers.users.edit.label_address"), class: "font-weight-bold" %>
        <%= f.text_field :address, class: "form-control",
                         placeholder: t("trainers.users.edit.label_address")%>
      </div>
      <div class="form-group">
        <%= f.label :program_language_id, t("trainers.users.edit.label_language"), class: "font-weight-bold label-required" %>
        <%= f.collection_select :program_language_id, @data[:language], :id, :name, {prompt: true}, {class: "form-control"} %>
        <%= display_error f.object, :program_language_id, t("trainers.users.edit.label_language") %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :position_id, t("trainers.users.edit.label_position"), class: "font-weight-bold label-required" %>
        <%= f.collection_select :position_id, @data[:position], :id, :name, {prompt: true}, {class: "form-control"} %>
        <%= display_error f.object, :position_id, t("trainers.users.edit.label_position") %>
      </div>
      <div class="form-group">
        <%= f.label :department_id, t("trainers.users.edit.label_department"), class: "font-weight-bold label-required" %>
        <%= f.collection_select :department_id, @data[:department], :id, :name, {prompt: true}, {class: "form-control"} %>
        <%= display_error f.object, :department_id, t("trainers.users.edit.label_department") %>
      </div>
      <div class="form-group">
        <%= f.label :school_id, t("trainers.users.edit.label_school"), class: "font-weight-bold label-required" %>
        <%= f.collection_select :school_id, @data[:school], :id, :name, {prompt: true}, {class: "form-control"} %>
        <%= display_error f.object, :school_id, t("trainers.users.edit.label_school") %>
      </div>
      <div class="form-group">
        <%= f.label :office_id, t("trainers.users.edit.label_office"), class: "font-weight-bold label-required" %>
        <%= f.collection_select :office_id, @data[:office], :id, :name, {prompt: true}, {class: "form-control"} %>
        <%= display_error f.object, :office_id, t("trainers.users.edit.label_office") %>
      </div>
      <div class="form-check form-check-inline">
        <%= radio_button :user, :gender, :male, class: "form-check-input", checked: "checked" %>
        <%= f.label "gender_1", t("trainers.users.edit.label_gender_male"), class: "form-check-label " %>
      </div>
      <div class="form-check form-check-inline">
        <%= radio_button :user, :gender, :female, class: "form-check-input" %>
        <%= f.label "gender_0", t("trainers.users.edit.label_gender_female"), class: "form-check-label" %>
      </div>
    </div>
    <div class="col-11"></div>
    <div class="col-1">
      <%= f.submit t("trainers.users.edit.label_submit"), class: "btn btn-primary mb-2",
                   data: {"disable-with": notice} %>
    </div>
    <%= f.hidden_field :password, value: Settings.default_user.password %>
    <%= f.hidden_field :password_confirmation, value: Settings.default_user.password %>
    <%= f.hidden_field :image %>
  </div>
<% end %>
