<div class="content-title d-flex justify-content-between mb-3">
  <div class="title text-bold h4"> <%= icon "fas", "list-alt" %>
    <%= t ".title" %>
    <small class="text-muted">
      (<span id="total-count-user"><%= @users.total_count %></span> <%= t ".label_user" %>)
    </small>
    <%= link_to new_trainers_user_path, type: "button", class: "btn btn-success btn-sm" do %>
      <%= t ".btn_add" %>
      <%= icon "fas", "plus" %>
    <% end %>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
      <%= t ".btn_add_mul_user" %>
      <%= icon "fas", "plus" %>
    </button>
  </div>
</div>
<%= search_form_for @q, url: trainers_users_path, remote: true, class: "mb-2", id: "search-form" do |f| %>
  <div class="form-row">
    <div class="form-group col-3">
      <%= f.search_field :name_or_email_cont, placeholder: t(".placeholder_search"),class: "form-control" %>
    </div>
    <div class="form-group col-3">
      <%= f.search_field :courses_name_cont, placeholder: t(".placeholder_course_name"),class: "form-control" %>
    </div>
    <div class="form-group col-3">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
        <i class="fas fa-filter"></i>
      </a>
      <%= button_tag class: "btn btn-success", id: "btn-submit-search" do %>
        <i class="fas fa-search text-light"></i>
        <%= t ".label_search" %>
      <% end %>
    </div>
  </div>
  <div class="collapse" id="collapseFilter">
    <div class="card card-body">
      <div class="form-row">
        <div class="form-group col-4">
          <%= f.label :role_eq, t(".label_role") %>
          <%= f.select :role_eq, @data[:role].each {|key, value| [key, value]}, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
        <div class="form-group col-4">
          <%= f.label :program_language_id_eq, t("trainers.users.edit.label_language") %>
          <%= f.collection_select :program_language_id_eq, @data[:language], :id, :name, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
        <div class="form-group col-4">
          <%= f.label :position_id_eq, t("trainers.users.edit.label_position") %>
          <%= f.collection_select :position_id_eq, @data[:position], :id, :name, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <%= f.label :department_id_eq, t("trainers.users.edit.label_department") %>
          <%= f.collection_select :department_id_eq, @data[:department], :id, :name, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
        <div class="form-group col-4">
          <%= f.label :office_id_eq, t("trainers.users.edit.label_office") %>
          <%= f.collection_select :office_id_eq, @data[:office], :id, :name, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
        <div class="form-group col-4">
          <%= f.label :gender_eq, t(".label_gender") %>
          <%= f.select :gender_eq, @data[:gender].each {|key, value| [key, value]}, {prompt: true}, {class: "form-control form-control-sm"} %>
        </div>
      </div>
      <div class="row mt-1 ml-1">
        <%= button_tag type: "button", class: "btn btn-info btn-sm", id: "reset-form" do %>
          <i class="fas fa-sync-alt"></i>
          <%= t ".btn_reset" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="zui-wrapper">
  <div class="zui-scroller">
    <table class="zui-table table table-hover">
      <thead class="thead-light">
        <tr>
          <th class="zui-sticky-col"><%= sort_link @q, :name, t(".label_name") %></th>
          <th><%= t ".label_email" %></th>
          <th><%= sort_link @q, :role, t(".label_role") %></th>
          <th><%= sort_link @q, :gender, t(".label_gender") %></th>
          <th><%= t ".label_birthday" %></th>
          <th><%= t ".label_address" %></th>
          <th><%= t ".label_language" %></th>
          <th><%= t ".label_position" %></th>
          <th><%= t ".label_department" %></th>
          <th><%= t ".label_office" %></th>
          <th><%= t ".label_university" %></th>
          <th class="zui-sticky-col-right"><%= t ".label_action" %></th>
        </tr>
      </thead>
      <tbody id="list-user">
        <%= render partial: "user", collection: @users, as: :item %>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6" id="paginator-user-info">
    <%= page_entries_info @users, entry_name: t(".label_info_item") %>
  </div>
  <div class="col-6">
    <div id="paginator-user" class="text-center">
      <%= paginate @users, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm", remote: true %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for :import_user, url: trainers_import_users_path do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= t ".btn_add_mul_user" %>
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :file, t(".label_file") ,class: "label-required" %>
            <%= f.file_field :file, class: "form-control-file" %>
            <small><%= t ".label_file_notice" %></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <%= t ".btn_close" %>
          </button>
          <%= button_tag t(".btn_add"), class: "btn btn-success btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
