<div class="item mt-3 col-md-4 col-lg-3 col-sm-6">
  <div class="card">
    <% if course.image.present? %>
      <%= image_tag course.image.url, class: "card-img-top" %>
    <% else %>
      <%= image_tag Settings.app.default_avatar, class: "card-img-top" %>
    <% end %>
    <% unless course.deleted? %>
      <div class="course-status">
        <span class="badge badge-warning text-capitalize">
          <%= course.status %>
        </span>
      </div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title text-truncate">
        <% if trainer? %>
          <%= link_to trainers_course_path course do %>
            <%= course.name %>
          <% end %>
        <% else %>
          <%= link_to trainee_course_path course do %>
            <%= course.name %>
          <% end %>
        <% end %>
      </h5>
      <% if trainee? %>
        <div class="card-text">
          <div class="progress">
            <% progress = course.progress_by_user current_user.id %>
            <% if (progress > 0) %>
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: <%= number_to_percentage progress %>;"
                aria-valuenow="<%= number_to_percentage progress, precision: Settings.views.progress.precision %>"
                aria-valuemin="<%= Settings.views.progress.min %>"
                aria-valuemax="<%= Settings.views.progress.max %>">
                <%= number_to_percentage progress, precision: Settings.views.progress.precision %>
              </div>
            <% else %>
              <div class="progress-bar bg-danger" role="progressbar"
                  style="width:100%;" aria-valuenow="<%= progress %>">
                <%= number_to_percentage progress, precision: Settings.views.progress.precision %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="info d-flex justify-content-between">
      <div class="lastest-update" data-title="Lastet updated">
        <%= icon "fas", "sync-alt" %>
        <%= course.start_date %>
      </div>
      <div class="trainee-count" data-title="Number of participants">
        <%= icon "fas", "graduation-cap" %>
        <%= course.trainees.size %>
      </div>
    </div>
  </div>
</div>
