<div class="content-title d-flex justify-content-between">
  <div class="title text-bold h4"> <%= icon "fas", "book" %>
    <%= t ".sub_title" %>
    <% if @courses.present? %>
      <%= "\(#{@courses.total_count}\)" %>
    <% end %>
    <%= link_to new_trainers_course_path, type: "button", class: "btn btn-success btn-sm" do %>
      <%= t ".btn_add" %>
      <%= icon "fas", "plus" %>
    <% end %>
  </div>
</div>
<%= render partial: "shared/courses/action_wrapper" %>
<div class="list-course mt-4">
  <div class="d-flex flex-wrap clearfix" id="list-course">
    <% if @courses.present? %>
      <%= render partial: "shared/courses/course", collection: @courses, as: :course %>
    <% else %>
      <div class="no-record">
        <%= t ".no_record" %>
      </div>
    <% end %>
  </div>
  <div id="paginator" class="mt-4 pl-3">
    <%= paginate @courses, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm", remote: true if @courses.present?%>
  </div>
</div>
