<ul class="nav flex-column" id="side-bar">
  <li class="nav-item">
    <%= link_to trainee_courses_path, class: "nav-link" do %>
      <%= icon "fas", "list-alt" %>
      <span><%= t ".my_courses" %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_trainee_report_path, class: "nav-link" do %>
      <%= icon "fas", "book" %>
      <span><%= t ".report" %></span>
    <% end %>
  </li>
  <li class="nav-item text-truncate">
    <%= link_to trainee_reports_path, class: "nav-link" do %>
      <%= icon "fas", "calendar-alt" %>
      <span><%= t ".report_history" %></span>
    <% end %>
  </li>
</ul>
