<div class="form-new p-4">
  <% url = select_url subject %>
  <%= form_for subject, url: url, id: "subject-form", remote: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label label-required">
        <%= f.label :name, t(".label_name") %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label label-required">
        <%= f.label :duration, t(".label_duration") %>
      </div>
      <div class="col-sm-10">
        <%= f.number_field :duration, class: "form-control",
          in: Settings.views.trainers.subjects.form.duration_min..Settings.views.trainers.subjects.form.duration_max,
          step: Settings.views.trainers.subjects.form.duration_step %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :note, t(".label_note") %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :note, class: "form-control", rows: 3 %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <%= f.label t(".label_image") %>
      </div>
      <div class="col-sm-10">
        <div class="image-view mt-2 mb-2">
          <% if subject.image? %>
            <%= image_tag subject.image_url, class: "img-thumbnail", id: "img-upload" %>
          <% end %>
        </div>
        <%= f.file_field :image, class: "form-control-file" %>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
    <div class="form-group row" >
      <div class="col-sm-2 col-form-label label-required">
        <%= f.label t(".label_task") %>
      </div>
      <div class="col-sm-10">
        <div id="tasks">
          <%= f.fields_for :tasks do |task| %>
            <%= render "trainers/subjects/task_fields", f: task %>
          <% end %>
        </div>
        <div class="btn-add-task mt-2">
          <%= link_to_add_association f, :tasks,
              class: "links mt-2",
              data: {
                association_insertion_node: "#tasks",
                association_insertion_method: :append} do %>
            <%= icon "fas", "plus-circle fa-lg" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <% btn = select_btn %>
        <%= f.submit btn, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
