<div class="modal fade" id="subjectDetail" tabindex="-1" role="dialog" aria-labelledby="subjectDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectDetailLabel">
          <%= t ".modal_title" %>
        </h5>
        <%= link_to "", type: "button", class: "close", "data-dismiss": "modal" do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
      <div class="modal-body d-flex">
        <div class="col-6">
          <div class="card">
            <% if subject.image.present? %>
              <%= image_tag subject.image.url, class: "card-img-top", style: "max-height: 10em" %>
            <% else %>
              <%= image_tag "", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-uppercase text-primary">
                <%= t ".label_subject" %>:
                <%= subject.name %>
              </h5>
              <p class="text-danger">
                <%= icon "fas", "clock" %>
                <%= t ".duration", count: subject.duration %>
              </p>
              <p class="card-text">
                <%= subject.note %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h5 class="pl-1">
            <%= t ".task_head_title", count: subject.tasks.size %>
          </h5>
          <% if subject.present? %>
            <ul class="list-group">
              <%= render partial: "trainers/subjects/task_item", collection: subject.tasks, as: :item %>
            </ul>
          <% else %>
            <p>
              <%= t ".no_task" %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "", type: "button", class: "btn btn-secondary", "data-dismiss": "modal" do %>
          <%= t ".btn_close" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
