<tr>
  <th scope="row"><%= subject.id %></th>
  <td>
    <%= image_tag subject.image, class: "thumbnail" if subject.image.attached?%>
  </td>
  <td><%= subject.name %></td>
  <td><%= subject.duration %></td>
  <td><%= subject.note %></td>
  <td><%= subject.created_at %></td>
  <td>
    <button type="button" class="btn btn-sm btn-outline-info">
      <%= icon "fas", "eye" %>
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary">
      <%= icon "fas", "pencil-alt" %>
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger">
      <%= icon "fas", "trash-alt" %>
    </button>
  </td>
</tr>
