<div class="content-title d-flex justify-content-between">
  <div class="title text-bold h4"> <%= icon "fas", "book" %>
    <%= t ".sub_title" %>
    <span class="subject-total">(<%= @subjects.total_count %>)</span>
  </div>
</div>
<div class="action-wrapper mt-3 row">
  <div class="filter col-md-4">
    <%= link_to new_trainers_subject_path, type: "button", class: "btn btn-success btn-sm", id: "btn-add-subject" do %>
      <%= t ".btn_add" %>
      <%= icon "fas", "plus" %>
    <% end %>
    <%= link_to "", class: "btn btn-info btn-sm", type: "button", "data-toggle": "collapse",
      "data-target": "#filter", "aria-expanded": "false", "aria-controls": "filter" do %>
      <%= icon "fas", "filter" %>
      <%= t ".btn_filter" %>
    <% end %>
  </div>
  <%= search_form_for @q, url: trainers_subjects_path, remote: true, class: "col-md-4 offset-md-4" do |f| %>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <%= button_tag class: "input-group-text btn btn-sm", id: "basic-addon2", type: "submit" do %>
          <%= icon "fas", "search" %>
        <% end %>
      </div>
      <%= f.search_field :brief_cont, class: "form-control", placeholder: t(".search_placeholder"), "aria-describedby": "basic-addon2" %>
      <div class="input-group-append">
        <%= link_to trainers_subjects_path, class: "input-group-text btn btn-sm" do %>
          <%= icon "fas", "sync-alt" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="collapse" id="filter">
  <div class="card card-body">
    <%= render "filter" %>
  </div>
</div>
<div class="table-subject mt-3">
  <div class="page_entries">
    <%= page_entries_info @subjects, entry_name: 'item' %>
  </div>
  <table class="table table-hover table-striped table-bordered" id="subjects-tbl">
    <thead class="thead-light">
      <tr class="text-center">
        <th scope="col"><%= t ".tbl_head.index" %></th>
        <th scope="col"><%= t ".tbl_head.image" %></th>
        <th scope="col"><%= sort_link @q, :name, t(".tbl_head.name"), remote: true %></th>
        <th scope="col"><%= sort_link @q, :duration, t(".tbl_head.duration") %></th>
        <th scope="col"><%= sort_link @q, :tasks_count, t(".tbl_head.number_task") %></th>
        <th scope="col"><%= sort_link @q, :note, t(".tbl_head.note") %></th>
        <th scope="col"><%= t ".tbl_head.action" %></th>
      </tr>
    </thead>
    <tbody id="subjects-tbody">
      <%= render @subjects %>
    </tbody>
  </table>
  <div id="paginator-subject" class="text-center">
    <%= paginate @subjects, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm", remote: true, param: {controller: "trainers/subjects", action: :index} %>
  </div>
  <span class="no-record"></span>
  <div id="subject-modal"></div>
</div>
